.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.6rem; /* py-5 */
}

.content {
  flex: 1 0 auto; /* This element will grow to take up remaining space */
  display: flex;
  flex-direction: column;
}


.main div:first-child {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
}
