/* src/components/molecules/Features/styles.module.css */
.features {
    background-color: hsla(220, 12%, 18%, 0.56);  /* Slightly lighter dark background */
    padding: 3rem 1rem;
  }
  
  .feature-icon {
    color: #D8B4FE ; /* Custom primary color */
  }
  
  .feature-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .feature-description {
    margin-bottom: 2rem;
  }
  