// src/theme.scss
$primary: #D8B4FE ; // Updated primary color
$secondary: #6c757d; // Neutral gray
$success: #28a745; // Green for success messages
$info: #17a2b8; // Blue for informational messages
$warning: #ffc107; // Yellow for warnings
$danger: #dc3545; // Red for errors
$light: #f8f9fa; // Light background
$dark: #343a40; // Dark background

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Additional Custom Colors
$primary-light: #d6a3ff; // Light purple for accents
$primary-bright: #bc0df0; 
$primary-dark: #8000bc; // Darker shade of purple for contrast
$background-primary: #1a1a1a; // Dark background color
$text-light: #ffffff; // Light text color

// Import Bootstrap's SCSS
@import "~bootstrap/scss/bootstrap.scss";
