/* styles.module.css */
/* styles.module.css */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1030;
  }
  
  .main {
    padding-top: 56px; /* Adjust based on your navbar height */
  }
  